<script>
  import Row from "./Row.svelte";

  import { arrow } from "./symbols.json";

  export let entry, preview, expand, open, max_authors;
</script>

<details bind:open>
  <summary class="clickable column small-gap" class:post-gap={open}>
    {#each Object.entries(preview) as [field, on]}
      {#if on}
        <Row {field} {entry} {max_authors} />
      {/if}
    {/each}

    <div class="row">
      <div class="toggle-fold" class:open>
        {arrow.right}
      </div>

      <a target="_blank" rel="external noopener noreferrer" href={entry.pre}>abs</a>
      <a target="_blank" rel="external noopener noreferrer" href={entry.pdf}>pdf</a>
    </div>
  </summary>

  <div class="column small-gap">
    {#each Object.entries(expand) as [field, on]}
      {#if !preview[field] && on}
        <Row {field} {entry} {max_authors} />
      {/if}
    {/each}
  </div>
</details>

<style>
  .small-gap {
    row-gap: 1ex;
  }

  .post-gap {
    margin-bottom: 1em;
  }
</style>
