<script>
  export let show_each, loading;

  $: noEntries = loading || !Object.values(show_each).some((list) => list.length);
</script>

<fieldset class="row">
  <legend>Expand:</legend>
  <button
    on:click={() => {
      for (const [k, v] of Object.entries(show_each)) {
        show_each[k] = v.map((e) => true);
      }
    }}
    disabled={noEntries ||
      Object.values(show_each).every((list) => list.every((e) => e))}
  >
    All
  </button>
  <button
    on:click={() => {
      for (const [k, v] of Object.entries(show_each)) {
        show_each[k] = v.map((e) => false);
      }
    }}
    disabled={noEntries ||
      Object.values(show_each).every((list) => list.every((e) => !e))}
  >
    None
  </button>
  <button
    on:click={() => {
      for (const [k, v] of Object.entries(show_each)) {
        show_each[k] = v.map((e) => !e);
      }
    }}
    disabled={noEntries}
  >
    Invert
  </button>
</fieldset>

<style>
</style>
