html {
  scroll-behavior: smooth;
}

body {
  margin: 1em;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.5em;
}

.column {
  display: flex;
  flex-direction: column;
}

.large-gap {
  row-gap: 1em;
}

.larger-gap {
  row-gap: 2em;
}

.clickable {
  cursor: pointer;
}

.toggle-fold {
  transition: transform 0.1s;
}

.open {
  transform: rotate(90deg);
}

@media (min-width: 60em) {
  body {
    max-width: 58em;
    margin: 1em auto;
  }
}
