<script>
  import Entry from "./Entry.svelte";

  export let entries,
    name,
    preview,
    expand,
    show_each,
    start = 1,
    max_authors;
</script>

{#if entries.length}
  <details open>
    <summary class="clickable">
      <h2 class="inline">
        {name} ({entries.length})
      </h2>
    </summary>
    <ol class="column larger-gap" {start}>
      {#each entries as entry, i}
        <li>
          <Entry
            bind:open={show_each[i]}
            {preview}
            {expand}
            {entry}
            {max_authors}
          />
        </li>
      {/each}
    </ol>
  </details>
{/if}

<style>
  .inline {
    display: inline;
  }
</style>
