<script>
  import { arrow } from "./symbols.json";

  export let field,
    entry,
    max_authors,
    expand_authors = false;
</script>

{#if field == "title"}
  <h3 class="entry-title">
    {@html entry.title}
  </h3>
{:else if field == "authors"}
  <div class="row">
    {#if entry.authors.length > max_authors}
      {#if !expand_authors}
        <span class="name">{entry.authors[0]}</span>
        <span class="name">et al.</span>
        <span class="name">({entry.authors.length})</span>
      {:else}
        {#each entry.authors as a}
          <span class="name">{a}</span>
        {/each}
      {/if}
      <button
        class="toggle-fold silent-button clickable"
        class:expand_authors
        on:click={() => (expand_authors = !expand_authors)}
      >
        {arrow.right}
      </button>
    {:else}
      {#each entry.authors as a}
        <span class="name">{a}</span>
      {/each}
    {/if}
  </div>
{:else if field == "categories"}
  <div class="row">
    <strong class="name">
      {entry.prim}
    </strong>
    {#each entry.cross as c}
      <span class="name">{c}</span>
    {/each}
  </div>
{:else if field == "datetime"}
  <div class="row">
    <span>
      {entry.datetime.toUTCString()}
    </span>
  </div>
{:else if field == "comments"}
  {#if entry.comment}
    <div>
      {entry.comment}
    </div>
  {/if}
{:else if field == "abstract"}
  <div>
    {@html entry.abs}
  </div>
{/if}

<style>
  .name {
    white-space: nowrap;
  }

  .entry-title {
    margin: 0;
  }

  .expand_authors {
    transform: rotate(180deg);
  }

  .silent-button {
    border: none;
    background: none;
  }
</style>
