<script>
  export let preview, expand;
  let old_expand;
  if (localStorage.getItem("old_expand")) {
    old_expand = JSON.parse(localStorage.getItem("old_expand"));
  } else {
    old_expand = {};
  }
</script>

<fieldset class="row">
  <legend>Preview:</legend>
  {#each Object.entries(preview).sort() as [h, _]}
    <label>
      <input
        type="checkbox"
        bind:checked={preview[h]}
        on:change={() => {
          localStorage.setItem("preview", JSON.stringify(preview));

          if (preview[h]) {
            old_expand[h] = expand[h];
            localStorage.setItem("old_expand", JSON.stringify(old_expand));
            expand[h] = true;
          } else {
            expand[h] = old_expand[h];
          }

          localStorage.setItem("expand", JSON.stringify(expand));
        }}
      />
      {h}
    </label>
  {/each}
</fieldset>

<fieldset class="row">
  <legend>Show on expand:</legend>
  {#each Object.entries(expand).sort() as [h, _]}
    <label>
      <input
        type="checkbox"
        bind:checked={expand[h]}
        on:change={() => {
          localStorage.setItem("expand", JSON.stringify(expand));
        }}
        disabled={preview[h]}
      />
      {h}
    </label>
  {/each}
</fieldset>

<style>
</style>
